{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock title %}

{% block style %}

    <style>
        input {
            transition: all 0.3s ease-in-out;
        }

        input:focus {
            transform: scale(1.1);
        }
    </style>


{% endblock style %}


{% block content %}
    <div style="text-align: center; color: brown; background-color: rgb(112, 145, 69);">
        <h1 style="color: #faebd7;">SignUp</h1>
        <form method="post" enctype="multipart/form-data" style="text-align: center;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-light">SINGUP</button>
  
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script>
        document.querySelector('input').addEventListener('focus', function() {
            this.style.backgroundColor = '#faebd7';
        });

        document.querySelector('input').addEventListener('blur', function() {
            this.style.backgroundColor = '';
        });
    </script>
{% endblock script %}
