{% extends 'base.html' %}
{% block title %}

    HOTELS

{% endblock title %}

{% block style %}

    <style>
        
        div .image_class{
        margin: left;
        display: flex;
        height: 200px;
        }

        div h1 {
        text-align: auto;
        text-decoration: none;
        }

    </style>

{% endblock style %}

{% block content %}

    {% for hotel in hotels %}

        <div>
            <img src="{{ hotel.image.url }}" alt="" class="image_class">
            <h1>Hotel: {{ hotel.name }}</h1>
            <h1>Address: {{ hotel.address }}</h1>
            <h1>City: {{ hotel.city }}</h1>
            <h1>Country: {{ hotel.country }}</h1>
            <h1>Rating: {{ hotel.rating }}</h1>
            <h1>Description: {{ hotel.description }}</h1>
        </div>

    {% endfor %}

{% endblock content %}