{% extends 'base.html' %}
{% block title %}
    HOTELS
{% endblock title %}

{% block style %}
<style>
    .hotel-container {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }   

    .hotel-container img {
    height: 300px;
    margin-right: 20px;
    transition: transform 0.3s ease;
    }

    .hotel-container img:hover {
    transform: scale(1.1);
    }

    .hotel-container h1, .hotel-container p {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #333;
    }

</style>
{% endblock style %}

{% block content %}
    {% for hotel in hotels %}
        <div class="hotel-container">
            <img src="{{ hotel.image.url }}" alt="" class="image_class">
            <div>
                <h1>Hotel: {{ hotel.name }}</h1>
                <p>Address: {{ hotel.address }}</p>
                <p>City: {{ hotel.city }}</p>
                <p>Country: {{ hotel.country }}</p>
                <p>Rating: {{ hotel.rating }}</p>
                <p>Description: {{ hotel.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

