{% extends 'base.html' %}
{% block title %}
    Rooms
{% endblock title %}

{% block style %}
<style>
    .room-container {
    display: flex;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    }

    .room-container:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .room-container img {
        height: 300px;
        margin-right: 20px;
    }
    .room-container div {
        flex-grow: 1;
    }
    .room-container h1, .room-container h2, .room-container h3, .room-container p {
        font-size: 25px;
    }
</style>
{% endblock style %}

{% block content %}
    {% for room in rooms %}
        <div class="room-container">
            <img src="{{ room.image.url }}" alt="" class="image_class">
            <div>
                <h1>Hotel name: {{ room.Hotel }}</h1>
                <p>Number room: {{ room.number }}</p>
                <p>Capacity: {{ room.capacity }}</p>
                <h3>{% if room.is_used %}
                    <p>Used: YES</p>
                {% else %}
                    <p>Used: NO</p>
                {% endif %}
                </h3>
                <h2>Description: {{ room.description }}</h2>
            </div>
        </div>
    
    {% endfor %}
{% endblock content %}



