<div class="header">

    <a href="{% url 'home_page' %}">Home page</a>
    <a href="{% url 'hotel_list' %}">Hotels</a>
    <a href="{% url 'room_list' %}">Rooms</a>
    <a href="{% url 'my_booking' %}">Guest</a>

</div>


<style>
    body .header {
    background-color: rgb(54, 46, 46);
    padding: 1%;
    text-decoration: none;
    }

    body .header a {
    background-color: rgb(54, 46, 46);
    color: white;
    width: 25%;
    margin-left: 200px;
    text-decoration: none;        
    }


</style>